
@{
    ViewBag.Title = "Farmer";
}

<script type="text/javascript">
        sqlQueryModule.factory('bootstrappedData', function () {
            return { list: @Html.Raw(Model) }
    });

</script>

<div ng-app="sqlQueryModule" ng-controller="farmerController">

    <div id="header" class="container jumbotron text-center">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/images/FarmPic.PNG" height="50" />
            </div>
            <div class="col-sm-6">
                <h4>Farm Name</h4>
                <h6> short description/ slogan </h6>
            </div>
        </div>
        Search this Farm: <input type="text" name="SearchFarm"> <button type="button" ng-click="search()">Search</button><br>
    </div>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="active"><button ng-click="navigate('home')">Home</button></li>
            <li><button ng-click="navigate('buyer')">Buyer</button></li>
            <li><button ng-click="navigate('farmer')">Farmer</button></li>
        </ul>
    </div>

    <div id="topsellers" class="container">
        <h1>top sellers</h1>
        <h3> whatever... checkbox.. price.. number </h3>
    </div>


    <div id="all products" class="container">
        <h1>all products</h1>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" ng-click="showCuts('All')">All</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Bottom Sirloin')">Bottom Sirloin</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Chuck')">Chuck</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Plate')">Plate</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Round')">Round</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Shank')">Shank</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Sirloin')">Sirloin</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Topsirloin')">Top Sirloin</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Brisket')">Brisket</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Shortloin')">Short Loin</a></li>
            <li><a data-toggle="pill" ng-click="showCuts('Tenderloin')">Tenderloin</a></li>
        </ul>
        

        <div class="displayTable">
            {{Type}}
            <table id="queryTable" class="table table-sm table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="bold-text" ng-repeat="(key, data) in tableDisplay">
                            {{key}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in filteredList">
                        <td ng-repeat="(key, data) in tableDisplay">
                            {{item[key]}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination ng-model="currentPage"
                total-items="list.length"
                max-size="maxSize"
                boundary-links="true"></ul>
        </div>
    </div>

</div>