
@{
    ViewBag.Title = "Buyer";
}

<div ng-app="sqlQueryModule" ng-controller="buyerController">
    <div id="header" class="container jumbotron text-center">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/images/FarmPic.PNG" height="50" />
            </div>
            <div class="col-sm-6">
                <h4>{{firstName}}</h4>
            </div>
        </div>
        Search cuts: <input type="text" name="buyersearch"> <button type="button" onclick="alert('search')">Search</button><br>
    </div>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="active"><button ng-click="navigate('home')">Home</button></li>
            <li><button ng-click="navigate('buyer')">Buyer</button></li>
            <li><button ng-click="navigate('farmer')">Farmer</button></li>
        </ul>
    </div>

    <div class="container">
        <div class="col-sm-3">
            <h3>My Account</h3>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#accountinfo">Account Info</a></li>
                <li><a data-toggle="pill" href="#addressbook">Address Book</a></li>
                <li><a data-toggle="pill" href="#myorders">My Orders</a></li>
                <li><a data-toggle="pill" href="#myorders">Payment Info</a></li>
                <li><a data-toggle="pill" href="#myorders">Saved Farms</a></li>
                <li><a data-toggle="pill" href="#myorders">Subscription</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div id="accountinfo" class="tab-pane fade in active">
                    <h3>Edit Account Info</h3>

                    <form>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="first">First Name:</label>
                                <input type="text" class="form-control" id="first" ng-model="firstName">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" ng-model="email">
                            </div>
                            <div class="form-group">
                                <label for="first">Password:</label>
                                <input type="password" class="form-control" id="password" ng-model="password">
                            </div>
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" ng-model="username">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="last">Last Name:</label>
                                <input type="text" class="form-control" id="last" ng-model="lastName">
                            </div>
                            <div class="form-group">
                                <label for="confirmemail">Confirm Email:</label>
                                <input type="email" class="form-control" id="confirmemail" ng-model="confirmEmail">
                            </div>
                            <div class="form-group">
                                <label for="first">Confirm Password:</label>
                                <input type="password" class="form-control" id="confirmPassword" ng-model="confirmPassword">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" href="#">Save</button>
                    </form>
                </div>
                <div id="addressbook" class="tab-pane fade in">
                    <h3>address book</h3>
                    <form>
                        <div class="form-group">
                            <label for="companyName">Company Name:</label>
                            <input type="text" class="form-control" id="companyName" ng-model="companyName">
                        </div>
                        <div class="form-group">
                            <label for="phone">Telephone:</label>
                            <input type="tel" class="form-control" id="phone" ng-model="phone">
                        </div>
                        <div class="form-group">
                            <label for="fax">Fax:</label>
                            <input type="text" class="form-control" id="fax" ng-model="fax">
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" class="form-control" id="address" ng-model="address">
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" id="city" ng-model="city">
                        </div>
                        <div class="form-group">
                            <label for="state">State:</label>
                            <input type="text" class="form-control" id="state" ng-model="state">
                        </div>
                        <button type="submit" class="btn btn-default" href="#">Save</button>
                    </form>
                </div>
                <div id="myorders" class="tab-pane fade in">
                    <h3>my orders</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="paymentinfo" class="tab-pane fade in">
                    <h3>payment info</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="savedfarms" class="tab-pane fade in">
                    <h3>saved farms</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="subscriptions" class="tab-pane fade in">
                    <h3>subscriptions</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>

</div>
